<div class="mainDiv">
<div class="container">
    
    <section>
        <h2>Terms and Conditions</h2>
        <p>By accessing this website, you agree to be bound by these terms and conditions of use, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
    </section>

    <section>
        <h2>Refund Policy</h2>
        <p>We do not issue refunds for services provided.</p>
    </section>

    <section>
        <h2>Privacy Policy</h2>
        <p>Your privacy is important to us. We collect and process personal data in accordance with applicable data protection laws. By accessing this website, you agree to be bound by these terms and conditions of use, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
    </section>

    <section>
        <h2>Contact Information</h2>
        <p>Phone Number: +20 115 021 9233</p>
        <p>Email: contact-doclearn.com</p>
    </section>

    <section>
        <h2>About Us</h2>
        <p>DocLearn is dedicated to providing high-quality educational resources for medical students. Our team consists of experienced professionals in the medical field who are passionate about helping students succeed in their studies.</p>
    </section>

    <section>
        <h2>Pricing</h2>
        <p>Prices are in Egyptian Pounds (EGP).</p>
    </section>
</div>
</div>