.mainDiv{
    margin-top: 100px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}