<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.png" alt="Logo" height="70px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Check if user is authenticated -->
        <ng-container *ngIf="isLoggedIn(); else loginButtons">
          <li class="nav-item">
            <button class="btn spec-btn" (click)="logout()">Logout</button>
          </li>
        </ng-container>
        <!-- Template for login and signUp buttons -->
        <ng-template #loginButtons>
          <li class="nav-item">
            <a class="btn nav-link spec-btn" routerLink="/login">Login</a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn nav-link spec-btn" routerLink="/signup">Sign Up</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
