<div class="container">
    <div class="row">
      <div class="offset-2 col-lg-4 col-md-6 col-sm-12">
        <div class="zoom-effect" (click)="selectFaculty('BSU')">
          <div class="title-container">
            <h4>BSU</h4>
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="zoom-effect" (click)="selectFaculty('EELU')">
              <div class="title-container">
                <h4>EELU</h4>
              </div>
            </div>
            </div>
  </div>
  