<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="content">
        <h2>subjects</h2>
        <div class="search-engine">
          <input type="text" placeholder="Search..." />
        </div>
        <ul class="list-of-titles">
          <li><i class="bi bi-code-slash"></i> &nbsp; Legal Medicine</li>
          <li> <i class="bi bi-palette"></i>&nbsp; Medical Professionalism 1</li>
          <li><i class="bi bi-bank"></i>&nbsp; Medical Professionalism 2</li>
          <li><i class="bi bi-pencil"></i> &nbsp; Medical Professionalism 3</li>
          <li> <i class="bi bi-palette"></i>&nbsp; Medical Professionalism 4</li>
          <li><i class="bi bi-filetype-html"></i>&nbsp; Medical Professionalism 5</li>
          <li><i class="bi bi-filetype-html"></i>&nbsp; Medical Ethics 1</li>
          <li><i class="bi bi-filetype-html"></i>&nbsp; Medical Ethics 2</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Legal Medicine</h4>
        </div>
        <button class="custom-button" (click)="navigateToExam()">Start</button>
      </div>
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Professionalism 1</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Professionalism 2</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Professionalism 3</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Professionalism 4</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Professionalism 5</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Ethics 1</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
      <div class="zoom-effect">
        <div class="title-container">
          <h4>Medical Ethics 2</h4>
        </div>
        <button class="custom-button" disabled>Start</button>
      </div>
    </div>
  </div>
</div>
