<div class="overall-container">
    <div class="login-container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                <div class="d-flex justify-content-center">
                    <img src='../../../assets/images/logo.png' alt="login" height="150px">
                </div>
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" formControlName="id">
                <!-- Use formControlName directive to bind to the id form control -->
                <div *ngIf="loginForm.get('id')?.invalid && (loginForm.get('id')?.dirty || loginForm.get('id')?.touched)" class="text-danger">
                    <p *ngIf="loginForm.get('id')?.errors?.['required']">ID is required.</p>
                    <p *ngIf="loginForm.get('id')?.errors?.['pattern']">Please enter a valid id consists of 14 numbers.</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <!-- Use formControlName directive to bind to the password form control -->
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
                    <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
                    <p *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn">Login</button>
            </div>
            <div class="submit-error text-danger" style="font-size: small;" *ngIf="loginError">
                {{ loginError }}
              </div>
            <p>Don't have an account? <a href="/signup">SignUp</a></p>
        </form>
    </div>
</div>
