<div class="container">
    <div class="row">
      <div class="offset-2 col-lg-4 col-md-6 col-sm-12">
        <div class="zoom-effect" (click)="selectExam('final')">
          <div class="title-container">
            <h4>Final Exam</h4>
          </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="zoom-effect" (click)="selectExam('end-round')">
              <div class="title-container">
                <h4>End Round</h4>
              </div>
            </div>
            </div>
  </div>
  